@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 

    font-family: "Montserrat", sans-serif;
    
}

ul{
    list-style-type: none;
    overflow: hidden;
 
    top: 2.6875em;;
    width: 100%;

    padding-right: 14.375em;
    z-index: 2;
}

li{
    float: right;
}

li a{
    display: block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    padding: 3em 4em 0em;
    /* background-color: #333; */
    /* text-decoration: none; */

}

.nav_links{
    padding-right: 6.375em;
    font-size: 1.1em;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color:#7C99AC ;
}

.nav_links li a:hover{

    color: #08f5cd;
    text-decoration: none;
}

/* underline effect when hovering over text  */
.nav_links li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #08f5cd;
    display: block;  
    margin: auto;
    transition: 0.5s;
}

.nav_links li a:hover::after{
    width: 100%
}

.name{
     float: left;
     padding-right: 20em;  
     
  
}

.image{
    width: 12%;
    /* padding-top: 49px; */
    /* padding-left: -3px; */
    /* padding-right: 32px;*/
    margin-right: 0px; 
    margin-left: 379px;

    padding-right: 9px;
    padding-left: 0px;
    padding-top: 52px;
}

ul .image:hover{
    cursor: pointer;
}

.head{
    /* position: relative;
    position: fixed; */
    top: 0;
    width: 100%;
}







/* =============================My Intro==================================== */
.container {
    position: relative;
    z-index: 1;
}

.intro{
    position:absolute;
    top: 28%;
    /* bottom: 42%; */
    transform: translate(27%, -62%);
    font-size: 2.625rem;
}

.intro h2{
    text-decoration: underline;
}

/* .intro h2:hover{
    color: #08f5cd;
    transition: all .3s ease 0s;

} */


.text{
    position:absolute;
    /* bottom: 42%; */

    top: 50%;
    transform: translate(29%, -127%);
    /* font-size: 31px; */

    font-size: 1.8125rem;
    color:#7C99AC ;
}



/* for side text in home page */

.whole{
    /* transform: translate(); */
    transform: translate(29% -1%);
}

#HTML{
    position:absolute;
    /* bottom: 42%; */
    top: 14%;
    transform: translate(291%, -30%);  
}



#HTML p {
    padding-top: 0.8125rem;
}
   

#CSS{
    position:absolute;
    /* bottom: 42%; */
    top: 28%;
    transform: translate(318%, -43%);

}
 
#CSS p{
    padding-top: 0.8125rem;
} 

#JavaS{
    position:absolute;
    /* bottom: 42%; */
    top: 42%;
    transform: translate(286%, -54%); 

}
 
#JavaS p{
    padding-top: 0.8125rem;
} 

#React{
    position:absolute;
    /* bottom: 42%; */
    top: 56%;
    transform: translate(310%, -63%); 
}

#React  p{
    padding-top: 0.8125rem;
} 

#Backend{
    position:absolute;
    /* bottom: 42%; */
    top: 70%;
    transform: translate(256%, -83%); 
}

#Backend p{
    padding-top: 0.8125rem;
}

.side-color{
    position: static;
}

.side-color a{
    color: black;
    background-color: none;
}

/* hover over text */
.Blue:hover{
    color: #08f5cd;
    transition: all .3s ease 0s;
    text-decoration: none;
}










/* buttons */

.container5{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translate(-27%, -490%);

  
}

.container5 a{
    position: relative;
    width: 150px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    margin: 10px;
    text-transform: uppercase;
    background: #191919;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 2px;
    overflow: hidden; 

}

.container5 a span{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 100000;
    transition: 0s ease-in;
}

.container5 a:hover span {
    transition: 0.4s ease-in;
    transform: translateY(-100%);
}

.container5 a:before{
    content: '';
    position: absolute;
    bottom: -250px;
    transform: translateX(-50%);
    width: 250px;
    height: 250px;
    background: #2299ff;
    border-radius: 50%;
    transition: 0.4s ease-in;
}

.container5 a:hover:before{
    bottom: -150px;
}

.container5 a:nth-child(2):before
{
    bottom: 60px
}

.container5 a:nth-child(2):hover:before
{
    bottom: -40px
}


/* foooter  */


.icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons .fab{
    color: #f44336;
    margin: 0 13px; 
    cursor: pointer;
    padding: 12px 0; 
} 

.footer p{
    display: flex;
    align-items: center;
    justify-content: center;

    color: #6c818f;
    text-indent: 5px;
}

.fa-heart{
    color: #f44336;
    text-indent: 5px ; 

}






